.row
  .col-md-6
    %img.img-responsive{:src => "http://placehold.it/750x450"}
  .col-md-6
    %h2 Welcome to 'Gagoit'
    %p This is a great place to introduce your company or project and describe what you do. This about page features general company information, employee bios, and other helpful elements.
    %p Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
/ Team Member Profiles
.row
  .col-lg-12
    %h2.page-header Our Team
  .col-sm-4
    %img.img-responsive{:src => "http://placehold.it/750x450"}
      %h3
        John Smith
        %small Job Title
      %p What does this team member do? Keep it short! This is also a great spot for social links!
      %ul.list-unstyled.list-inline.list-social-icons
        %li.tooltip-social.facebook-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#facebook-profile", :title => "Facebook"}
            %i.fa.fa-facebook-square.fa-2x
        %li.tooltip-social.linkedin-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#linkedin-profile", :title => "LinkedIn"}
            %i.fa.fa-linkedin-square.fa-2x
        %li.tooltip-social.twitter-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#twitter-profile", :title => "Twitter"}
            %i.fa.fa-twitter-square.fa-2x
        %li.tooltip-social.google-plus-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#google-plus-profile", :title => "Google+"}
            %i.fa.fa-google-plus-square.fa-2x
  .col-sm-4
    %img.img-responsive{:src => "http://placehold.it/750x450"}
      %h3
        John Smith
        %small Job Title
      %p What does this team member do? Keep it short! This is also a great spot for social links!
      %ul.list-unstyled.list-inline.list-social-icons
        %li.tooltip-social.facebook-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#facebook-profile", :title => "Facebook"}
            %i.fa.fa-facebook-square.fa-2x
        %li.tooltip-social.linkedin-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#linkedin-profile", :title => "LinkedIn"}
            %i.fa.fa-linkedin-square.fa-2x
        %li.tooltip-social.twitter-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#twitter-profile", :title => "Twitter"}
            %i.fa.fa-twitter-square.fa-2x
        %li.tooltip-social.google-plus-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#google-plus-profile", :title => "Google+"}
            %i.fa.fa-google-plus-square.fa-2x
  .col-sm-4
    %img.img-responsive{:src => "http://placehold.it/750x450"}
      %h3
        John Smith
        %small Job Title
      %p What does this team member do? Keep it short! This is also a great spot for social links!
      %ul.list-unstyled.list-inline.list-social-icons
        %li.tooltip-social.facebook-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#facebook-profile", :title => "Facebook"}
            %i.fa.fa-facebook-square.fa-2x
        %li.tooltip-social.linkedin-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#linkedin-profile", :title => "LinkedIn"}
            %i.fa.fa-linkedin-square.fa-2x
        %li.tooltip-social.twitter-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#twitter-profile", :title => "Twitter"}
            %i.fa.fa-twitter-square.fa-2x
        %li.tooltip-social.google-plus-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#google-plus-profile", :title => "Google+"}
            %i.fa.fa-google-plus-square.fa-2x
  .col-sm-4
    %img.img-responsive{:src => "http://placehold.it/750x450"}
      %h3
        John Smith
        %small Job Title
      %p What does this team member do? Keep it short! This is also a great spot for social links!
      %ul.list-unstyled.list-inline.list-social-icons
        %li.tooltip-social.facebook-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#facebook-profile", :title => "Facebook"}
            %i.fa.fa-facebook-square.fa-2x
        %li.tooltip-social.linkedin-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#linkedin-profile", :title => "LinkedIn"}
            %i.fa.fa-linkedin-square.fa-2x
        %li.tooltip-social.twitter-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#twitter-profile", :title => "Twitter"}
            %i.fa.fa-twitter-square.fa-2x
        %li.tooltip-social.google-plus-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#google-plus-profile", :title => "Google+"}
            %i.fa.fa-google-plus-square.fa-2x
  .col-sm-4
    %img.img-responsive{:src => "http://placehold.it/750x450"}
      %h3
        John Smith
        %small Job Title
      %p What does this team member do? Keep it short! This is also a great spot for social links!
      %ul.list-unstyled.list-inline.list-social-icons
        %li.tooltip-social.facebook-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#facebook-profile", :title => "Facebook"}
            %i.fa.fa-facebook-square.fa-2x
        %li.tooltip-social.linkedin-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#linkedin-profile", :title => "LinkedIn"}
            %i.fa.fa-linkedin-square.fa-2x
        %li.tooltip-social.twitter-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#twitter-profile", :title => "Twitter"}
            %i.fa.fa-twitter-square.fa-2x
        %li.tooltip-social.google-plus-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#google-plus-profile", :title => "Google+"}
            %i.fa.fa-google-plus-square.fa-2x
  .col-sm-4
    %img.img-responsive{:src => "http://placehold.it/750x450"}
      %h3
        John Smith
        %small Job Title
      %p What does this team member do? Keep it short! This is also a great spot for social links!
      %ul.list-unstyled.list-inline.list-social-icons
        %li.tooltip-social.facebook-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#facebook-profile", :title => "Facebook"}
            %i.fa.fa-facebook-square.fa-2x
        %li.tooltip-social.linkedin-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#linkedin-profile", :title => "LinkedIn"}
            %i.fa.fa-linkedin-square.fa-2x
        %li.tooltip-social.twitter-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#twitter-profile", :title => "Twitter"}
            %i.fa.fa-twitter-square.fa-2x
        %li.tooltip-social.google-plus-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#google-plus-profile", :title => "Google+"}
            %i.fa.fa-google-plus-square.fa-2x
/ Our Customers
.row
  .col-lg-12
    %h2.page-header Our Customers
  .col-md-2.col-sm-4.col-xs-6
    %img.img-responsive.img-customer{:src => "http://placehold.it/500x300"}
  .col-md-2.col-sm-4.col-xs-6
    %img.img-responsive.img-customer{:src => "http://placehold.it/500x300"}
  .col-md-2.col-sm-4.col-xs-6
    %img.img-responsive.img-customer{:src => "http://placehold.it/500x300"}
  .col-md-2.col-sm-4.col-xs-6
    %img.img-responsive.img-customer{:src => "http://placehold.it/500x300"}
  .col-md-2.col-sm-4.col-xs-6
    %img.img-responsive.img-customer{:src => "http://placehold.it/500x300"}
  .col-md-2.col-sm-4.col-xs-6
    %img.img-responsive.img-customer{:src => "http://placehold.it/500x300"}
